.cakeryNav {
    justify-self: center;
    background-color: aquamarine;
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.cakeryfoot {
    background-color: orange;
    justify-self: center;
    height: 250px;
    width: 75%;
    padding: 20px;
}

.cakeryfoot .social {
    text-align: center;
}
