@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.cupcakes {
    border: 5px;
/*  border-style: solid;
    border-color: orange;
*/  /* height: 150px; */
    height: auto;
    /* width: 150px; */
    width: 43%;
    background-color: #808080;
}

.weddingcakes {
    border: 3px;
    /* border-style: dotted; */
    border-color: blue;
    /* height: 150px; */
    height: auto;
    /* width: 150px; */
    width: 43%;
    background-color: rgb(230, 230, 230);
}

.cupcakeitem {
    border: 5px;
    font-size: large;
    
}
.weddingcakeitem {
    border: 5px;
    font-size: large;

}

img {
    width: 75px;
    height: 75px;
    margin: 20px 10px 0px 10px;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    border-width: 3px;
}

.h1 {
    font-family: 'Roboto', system-ui;
    font-weight: 400;
    font-style: normal;
}